* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* Font-size */
    font-size: clamp(40%, 1% + 2vw, 62.5%);

    /* Colors */
    --hue: 194;
    --bg-primary-color: hsla(var(--hue), 0%, 100%, 1);
    --bg-button-primary: hsla(var(--hue), 9%, 89%, 1);
    --bg-button-secondary: hsla(var(--hue), 97%, 31%, 1);
    --primary-color: hsla(var(--hue), 6%, 21%, 1);
    

}


html.light {
    --bg-primary-color: hsla(var(--hue), 0%, 0%, 1);
    --primary-color: hsla(var(--hue), 0%, 100%, 1);
    

}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

#toggle-light-mode {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;

    line-height: 0;
    background: transparent;
    border: 0;

    color: var(--primary-color);
    font-size: 3.2rem;
    cursor: pointer;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    
    padding: 0;
    margin: -1px;
    border-width: 0;
    
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

body,
button {
    color: var(--primary-color);
}

body {
    font-family: 'Roboto', sans-serif;

    display: grid;
    height: 100vh;
    place-content: center;

    background: var(--bg-primary-color);

}



#app {
    display: flex;
    flex-direction: column;
    gap: clamp(8rem, 1% + 2vw, 19.2rem);
    align-items: center;

}

#timer span {
    font-size: 12.6rem;
}

#controls {
    display: flex;
    gap: 4rem;
}

#controls button {
    font-size: 4.8rem;
    cursor: pointer;
    border: none;
    background: transparent;
}

#controls button:hover{
    color: var(--bg-button-secondary);
}

#sounds {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
}

#sounds button {
    padding: 4.5rem 4.5rem;

    border: none;
    border-radius: 2.4rem;

    cursor: pointer;
}

.clicked {
    background-color: var(--bg-button-secondary);
}

.clicked path {
    fill: var(--bg-button-primary);
}

#sounds button:hover {
    background-color: var(--bg-button-secondary);
}

#sounds button:hover path {
    fill: var(--bg-button-primary);
}

.volume {
    appearance: none;
    width: 9rem;
    height: .4rem;
    
    border-radius: 5px;
  
    transition: all 0.25s;
  }
  
  .volume::-webkit-slider-thumb {
    appearance: none;
  
    width: 1.6rem;
    height: 1.6rem;
  
    border-radius: 9999rem;
  
    transition: all 0.25s;
  }
  
  .clicked .volume,
  .sounds:hover .volume {
    background: white;
  } 
  
  .clicked .volume::-webkit-slider-thumb,
  .sounds:hover .volume::-webkit-slider-thumb {
    background: white;
    cursor: pointer;
  } 

  .card {
    transition: background 0.5s ease;
  
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
    justify-content: center;
    align-items: center;
  }
  

.running .ph-play-circle,
.running .ph-timer,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle {
    display: none;
}



@media (min-width: 750px) {
    #app {
        flex-direction: row;
    }
}